/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  color: #374046;
  background-color: #374046;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.15em;
  //text-rendering: optimizeLegibility;
  //-webkit-font-smoothing: antialiased;
}
